body {
    background-color: #4a6163;
}

.h1-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffc94b;
    text-align: center;
}

.container {
    width: 35em;
    height: 35em;
    display: grid;
    margin: 0 auto;
    position: static;
}

.container > * {
    background-color: white;
}

#reset-button {
    display: grid;
    position: static;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
    background-color: #ffc94b;
    border-color: #ffc94b;
    border: none;
    border-radius: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

#reset-button:hover {
    background-color: coral;
    border-color: coral;
}

.slider {
    -webkit-appearance: none;
    display: grid;
    margin: 0 auto;
    margin-bottom: 15px;
    background: white;
    outline: none;
    width: 200px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    height: 8px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    opacity: 1;
    border-radius: 50%; 
    background: #ffbc1e;
    cursor: pointer;
  }
  
#slider-tip {
    text-align: center;
    color: #ffbc1e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.slider-panel {
    display: grid;
    text-align: center;
}

#slider-value {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffbc1e;
    font-weight: 800;
}